<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tlsolution.tlsmodules">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application>
        <activity android:name=".Authentication.PasswordActivity"></activity>
        <activity android:name=".Authentication.AuthVerificationActivity" />
        <activity android:name=".Authentication.AuthPolicyActivity" />
        <activity android:name=".Inquery.NewInqueryActivity" />
        <activity android:name=".Inquery.InqueryDetailActivity" />
        <activity android:name=".Inquery.InqueryListActivity" />
        <activity android:name=".Policy.PolicyDetailActivity" />
        <activity android:name=".Policy.PolicyListActivity" />
        <activity android:name=".Notice.NoticeDetailActivity" />
        <activity android:name=".Notice.NoticeListActivity" />
    </application>

</manifest>