<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tlsolution.tlsmodules">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application>
        <activity android:name=".Deprecated.PasswordActivity"></activity>
        <activity android:name=".Deprecated.AuthVerificationActivity" />
        <activity android:name=".Deprecated.AuthPolicyActivity" />
        <activity android:name=".Deprecated.NewInqueryActivity" />
        <activity android:name=".Deprecated.InqueryDetailActivity" />
        <activity android:name=".Deprecated.InqueryListActivity" />
        <activity android:name=".Deprecated.PolicyDetailActivity" />
        <activity android:name=".Deprecated.PolicyListActivity" />
        <activity android:name=".Deprecated.NoticeDetailActivity" />
        <activity android:name=".Deprecated.NoticeListActivity" />
    </application>

</manifest>